<%- include('partials/header.html') %>
<main class="container mh py-4">
	<div class="row">
		<div class="col-12 col-xl-6">
			<h1 class="m-0 mb-2">Nuestra empresa</h1>
			<h2 class="m-0 mb-2">Historia de la empresa</h2>
			<p style="text-align: justify">Hardware House fue fundada en 2005 por un grupo de amigos que compartían la pasión por la tecnología y la innovación. Desde entonces, la empresa ha crecido hasta convertirse en uno de los principales proveedores de productos electrónicos y de hardware en todo el país. Nos enorgullece haber sido testigos de la evolución tecnológica y poder ofrecer a nuestros clientes las últimas y mejores soluciones en tecnología.</p>
			<h2 class="m-0 mb-2">Cultura de la empresa</h2>
			<p style="text-align: justify">En Hardware House, creemos en la importancia de trabajar en un ambiente en el que se fomenten la creatividad, el trabajo en equipo y la diversidad. Valoramos a todos nuestros empleados y nos esforzamos por crear un entorno laboral inclusivo, en el que cada miembro del equipo pueda desarrollar su potencial al máximo. También nos preocupamos por la calidad de vida de nuestros empleados y les ofrecemos oportunidades para crecer y aprender a través de capacitaciones y programas de desarrollo profesional. En resumen, nos esforzamos por crear una cultura empresarial positiva y colaborativa que beneficie tanto a nuestros empleados como a nuestros clientes.</p>
			<h2 class="m-0 mb-2">Responsabilidad social</h2>
			<p style="text-align: justify">En Hardware House, nos tomamos en serio nuestro compromiso con la sociedad y el medio ambiente. Nos esforzamos por minimizar nuestro impacto en el planeta a través de prácticas sostenibles, como el uso de materiales reciclados y la reducción de emisiones. También estamos comprometidos con nuestra comunidad y apoyamos diversas iniciativas sociales y ambientales en todo el país. Creemos que es importante contribuir de manera significativa al bienestar de nuestra sociedad y nuestro planeta.</p>
			<h2 class="m-0 mb-2">Alianzas y colaboraciones</h2>
			<p style="text-align: justify">En Hardware House, valoramos las alianzas y colaboraciones con otras empresas y organizaciones que compartan nuestros valores y objetivos. Creemos que estas asociaciones pueden llevar a la innovación y el desarrollo de soluciones tecnológicas más avanzadas y sostenibles. Estamos orgullosos de trabajar con diversas empresas y organizaciones en proyectos innovadores que benefician a nuestros clientes y a la sociedad en general.</p>
		</div>
		<div class="col-12 col-xl-6 d-flex justify-content-center">
			<img src="/img/about_us.jpg" class="rounded img-fluid cover" alt="" srcset="" />
		</div>
	</div>
</main>
<%- include('partials/footer.html') %>