<%- include('partials/header.html') %>
<main class="container mh py-4">
	<div class="row">
		<div class="col-12 col-xl-6">
			<h1 class="m-0 mb-3">Preguntas Frecuentes</h1>
			<h3 class="m-0 mb-2">¿Qué tipo de garantía ofrecen en sus productos?</h3>
			<p style="text-align: justify">En Hardware House, nos enorgullece ofrecer una garantía de satisfacción del 100% en todos nuestros productos. Si por alguna razón no estás satisfecho con tu compra, puedes devolverla en un plazo de 30 días para obtener un reembolso completo. Además, muchos de nuestros productos también tienen garantías de fabricante que cubren cualquier defecto de fábrica.</p>
			<h3 class="m-0 mb-2">¿Ofrecen envío a domicilio?</h3>
			<p style="text-align: justify">Sí, ofrecemos envío a domicilio a través de nuestro socio de envíos. El costo y el tiempo de envío varían según la ubicación y el tamaño del paquete. También ofrecemos la opción de recoger en tienda si prefieres recoger tu pedido en persona.</p>
			<h3 class="m-0 mb-2">¿Tienen servicio de reparación de computadoras?</h3>
			<p style="text-align: justify">Sí, en Hardware House contamos con un equipo de técnicos altamente capacitados que ofrecen servicios de reparación de computadoras. Si tu equipo necesita reparación, puedes llevarlo a cualquiera de nuestras tiendas y nuestro equipo se encargará de solucionar el problema lo más rápido posible. También ofrecemos servicios de mantenimiento preventivo y actualización de hardware para mantener tu equipo funcionando de manera óptima.</p>
			<h3 class="m-0 mb-2">¿Puedo obtener asesoramiento técnico en su tienda?</h3>
			<p style="text-align: justify">Sí, en Hardware House contamos con un equipo de expertos en hardware de computadoras que pueden brindarte asesoramiento técnico personalizado. Si tienes preguntas o necesitas ayuda para elegir los componentes adecuados para tu equipo, nuestro equipo estará encantado de ayudarte.</p>
			<h3 class="m-0 mb-2">¿Aceptan pagos con tarjeta de crédito?</h3>
			<p style="text-align: justify">Sí, aceptamos pagos con tarjeta de crédito y débito, incluyendo Visa, Mastercard y American Express. También ofrecemos la opción de pago en efectivo y transferencia bancaria.</p>
			<h3 class="m-0 mb-2">¿Tienen descuentos para estudiantes o profesores?</h3>
			<p style="text-align: justify">Sí, en Hardware House ofrecemos descuentos especiales para estudiantes y profesores. Si eres estudiante o profesor, simplemente muestra tu identificación en la tienda para obtener el descuento. También ofrecemos descuentos a empresas y organizaciones que compran grandes cantidades de productos.</p>
			<h3 class="m-0 mb-2">¿Cómo puedo saber si un producto está en stock?</h3>
			<p style="text-align: justify">Puedes verificar la disponibilidad de un producto en nuestro sitio web o llamando a cualquiera de nuestras tiendas. Si un producto no está en stock en la tienda que visitas, nuestro equipo estará encantado de ayudarte a encontrar una alternativa adecuada o programar una entrega en el menor tiempo posible.</p>
			<h3 class="m-0 mb-2">¿Ofrecen algún tipo de financiamiento o planes de pago a plazos?</h3>
			<p style="text-align: justify">Sí, en Hardware House ofrecemos planes de financiamiento y pago a plazos para compras grandes. Si estás interesado en un plan de pago a plazos, habla con nuestro equipo de ventas y ellos te brindarán más información sobre las opciones disponibles.</p>
			<h3 class="m-0 mb-2">¿Tienen políticas de devolución o cambio?</h3>
			<p style="text-align: justify">Sí, en Hardware House tenemos una política de devolución y cambio flexible. Si por alguna razón no estás satisfecho con tu compra, puedes devolverla en un plazo de 30 días para obtener un reembolso completo o un intercambio por otro producto. Es importante que el producto esté en su estado original y con su embalaje original.</p>
			<h3 class="m-0 mb-2">¿Puedo realizar pedidos especiales de productos que no se encuentran en su tienda?</h3>
			<p style="text-align: justify">Sí, en Hardware House podemos realizar pedidos especiales para productos que no se encuentran en nuestra tienda. Si estás buscando un producto específico que no tenemos en stock, comunícate con nuestro equipo de ventas y ellos podrán ayudarte a realizar un pedido especial. Es posible que se requiera un depósito para el pedido especial y el tiempo de entrega puede variar según el proveedor.</p>
		</div>
		<div class="col-12 col-xl-6 d-flex flex-column justify-content-between">
			<img src="/img/faq1.jpg" class="rounded img-fluid cover" alt="Imagen de pregunta frecuentes" />
			<img src="/img/faq2.jpg" class="rounded img-fluid cover" alt="Imagen de pregunta frecuentes" />
			<img src="/img/faq3.jpg" class="rounded img-fluid cover" alt="Imagen de pregunta frecuentes" />
		</div>
	</div>
</main>
<%- include('partials/footer.html') %>