<%- include('partials/header.html') %>
<main class="container mh py-4">
	<h1 class="text-center mb-2">Nuestros productos</h1>
	<div class="row align-content-stretch">
		<% products.forEach(element => { %>
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
			<div class="card">
				<img src="http://res.cloudinary.com/dzlemvbvt/image/upload/w_298,h_298,c_fill,q_90/<%= element.urlImagen %>" class="card-img-top" alt="Imagen de <%= element.nombre %>">
				<div class="card-body">
					<h5 class="card-title my-0"><%= element.nombre %></h5>
					<p class="card-text my-2"><%= element.descripcion %></p>
					<b class="d-block my-0">$<%= element.precio %></b>
				</div>
				<div class="card-footer text-end">
					<a href="#" class="btn btn-primary">Comprar</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</main>
<%- include('partials/footer.html') %>