<%- include('partials/header.html') %>
<div class="container mh py-4 d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col">
			<a href="/admin/productos/" class="m-4 btn btn-primary d-flex flex-row justify-content-center align-items-center gap-2 py-4 px-2">
				<img src="/img/productos.svg" alt="Icono de productos">
				<h3 class="m-0">Productos</h3>
			</a>
		</div>
		<div class="col">
			<a href="/admin/ventas/" class="m-4 btn btn-success d-flex flex-row justify-content-center align-items-center gap-2 py-4">
				<img src="/img/ventas.svg" alt="Icono de productos">
				<h3 class="m-0">Ventas</h3>
			</a>
		</div>
		<div class="col">
			<a href="/admin/categorias/" class="m-4 btn btn-dark d-flex flex-row justify-content-center align-items-center gap-2 py-4">
				<img src="/img/categorias.svg" alt="Icono de productos">
				<h3 class="m-0">Categorias</h3>
			</a>
		</div>
		<div class="col">
			<a href="/admin/promociones/" class="m-4 btn btn-warning d-flex flex-row justify-content-center align-items-center gap-2 py-4">
				<img src="/img/promociones.svg" alt="Icono de productos">
				<h3 class="m-0">Promociones</h3>
			</a>
		</div>
	</div>
</div>
<%- include('partials/footer.html') %>