<%- include ('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<a class="btn btn-back d-flex justify-content-between align-items-center" href="/admin/ventas">
			<img src="/img/regresar.svg">
			Regresar
		</a>
		<h1 class="text-start mb-0 ms-2">Detalles de las Venta</h1>
	</div>
	<form class="mt-3 border border-3 p-3 rounded bg-white" id="form">
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label class="form-label">Id de la venta</label>
				<input type="text" value="<%= infoVenta.id %>" class="form-control" disabled />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="precio" class="form-label">Comprador</label>
				<a class="btn btn-outline-dark d-grid" onclick="showInfo('<%= infoVenta.idUsuario %>')"><%= infoVenta.usuario %></a>
			</div>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label class="form-label">Total</label>
				<input type="text" value="$<%= infoVenta.total %>" class="form-control" disabled />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label class="form-label">Metodo de Pago</label>
				<input type="text" value="<%= infoVenta.tipoPago %>" class="form-control" disabled />
			</div>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label class="form-label">Fecha</label>
				<input type="text" value="<%= infoVenta.dia %>" class="form-control" disabled />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label class="form-label">Hora</label>
				<input type="text" value="<%= infoVenta.hora %>" class="form-control" disabled />
			</div>
		</div>
		<div class="scrollable">
			<table id="results" class="table table-light table-hover table-bordered mt-2 mb-0 align-middle">
				<thead>
					<tr>
						<th scope="col" style="width: 120px;" class="text-center">Imagen</th>
						<th scope="col" class="text-center">Producto</th>
						<th scope="col" class="text-center">Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<% ventasDetalles.forEach(element=> { %>
					<tr>
						<td class="text-center p-0"><img class="w-100" src="http://res.cloudinary.com/dzlemvbvt/image/upload/w_120,h_120,c_fill,q_90/<%= element.urlImagen %>" alt="Imagen de <%= element.nombre %>" /></td>
						<td class="text-center">
							<%= element.nombre %>
						</td>
						<td class="text-center">
							<%= element.cantidad %>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>